<<<<<<< HEAD
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
=======
#menu {
  width: 1500px;
  height: 90px;
  display: block;
  background-color: white;
}

#mything {
  position: absolute;
  top : 0px;
  left: 368px;
  width: 150px;
  height: 30px;
  cursor:pointer;
  border: none;
  background-color: white;
  font-size: large;
  margin: 30px;
}
#mything:hover {
  color: green;
}

#in {
  position: absolute;
  top : 0px;
  left: 718px;
  width: 100px;
  height: 30px;
  cursor:pointer;
  border: none;
  background-color: white;
  font-size: large;
  margin: 30px;
}

#in:hover {
  color: green;
}

#my{
  position: absolute;
  top : 0px;
  left: 1018px;
  width: 100px;
  height: 30px;
  cursor:pointer;
  border: none;
  background-color: white;
  font-size: large;
  margin: 30px;
}
#my:hover {
  color: green;
}
.sign {
  display: block;
  cursor:pointer;
  border: none;
  background-color: white;
  float: right;
  margin: 5px 20px;
}
>>>>>>> 1eda607f421216908d30bb93f94d952faa99f7be
